<mat-list class="sidebar">

  <mat-list-item  routerLink="{{routes.DEMANDES_LIST}}" routerLinkActive="active">
    <mat-icon>assignment</mat-icon> <b style="color:rgb(65, 60, 60)">Demandes</b>
  </mat-list-item>

  <mat-list-item routerLink="{{routes.FILES_LIST}}" routerLinkActive="active">
    <mat-icon>backup</mat-icon> <b style="color:rgb(65, 60, 60)">Fichiers</b>
  </mat-list-item>

  <mat-list-item routerLink="{{routes.FILES_CREATE}}" routerLinkActive="active">
    <mat-icon>backup</mat-icon> <b style="color:rgb(65, 60, 60)">Charger fichier</b>
  </mat-list-item>

</mat-list>
