<app-breadcrumb [path]="routes.PROFILE"></app-breadcrumb>

<div class="main-content-wrapper">
   <div style="width: 66%;">
     <mat-card class="user-card" *ngIf="user">
  <mat-card-content class="user-card-content">
    <div class="user-avatar">
      <div class="avatar-wrapper">
        <img class="avatar-img" src="./assets/user/profile/folder-dark-blue.svg" alt="avatar">
      </div>
      <mat-chip-list class="avatar-badge-wrapper">
        <mat-chip color="warn" selected class="avatar-badge">{{user?.isActive ? "active":"inactive"}}</mat-chip>
      </mat-chip-list>
    </div>

    <div class="user-info-wrapper">
      <mat-card-title class="user-name">{{user?.username || "N/A"}}</mat-card-title>

      <p class="user-position">{{user?.role || "Admin"}}</p>

      <br/>
      <p>{{user?.email || "N/A"}}</p>
      <p>{{user?.createdAt | date }}</p>

      
    </div>
  </mat-card-content>
</mat-card>

   </div>

  
   &nbsp; &nbsp;

   <div class="calendar-wrapper" style="width : 33%">
          <mat-card>
            <div class="calendar-navigation">
              <div class="calendar-array-wrapper" mwlCalendarPreviousView view="month" [(viewDate)]="viewDate">
                <mat-icon class="calendar-array">keyboard_arrow_left</mat-icon>
              </div>

              <div>
                <p class="calendar-date-title">{{viewDate | date: 'LLLL yyyy'}}</p>
              </div>

              <div class="calendar-array-wrapper" mwlCalendarNextView view="month" [(viewDate)]="viewDate">
                <mat-icon class="calendar-array">keyboard_arrow_right</mat-icon>
              </div>
            </div>

            <mwl-calendar-month-view [viewDate]="viewDate" [events]="calendarEvents"></mwl-calendar-month-view>
          </mat-card>
        </div>


</div>
